@model List<string>

@{
    ViewBag.Title = "Model";
}
<p>@ViewBag.manufacturer</p>
<p>@ViewBag.year</p>
<div id="col">
    @foreach (var item in Model)
    {
        <p>
            @Html.ActionLink(item.ToString(), "Trims", "Home", new { modelName = item, year = ViewBag.year, manufacturer = ViewBag.manufacturer }, null)
        </p>
    }
</div>