@model List<string>

@{
    ViewBag.Title = "Trims";
}
<p>@ViewBag.manufacturer</p>
<p>@ViewBag.year</p>
<p>@ViewBag.modelName</p>

<div id="col">
    @foreach (var item in Model)
    {
        <p>
            @Html.ActionLink(item.ToString(), "LightBulbs", "Home", new { trimName = item, modelName = ViewBag.modelName, year = ViewBag.year, manufacturer = ViewBag.manufacturer }, null)
        </p>
    }
</div>