@model List<string>

@{
    ViewBag.Title = "Manufacturers";
}
<p>@ViewBag.year > @ViewBag.Title</p>

<div id="col">
    @foreach (var item in Model)
    {
        <p>
            @Html.ActionLink(item, "Models", "Catalog", new { manufacturer = item, year = ViewBag.year }, null)
        </p>
    }
</div>